<!-- Toolbar with Sidenav -->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rede Emancipa</span>
  <a class="spacer"></a>
  <a mat-flat-button routerLink="/home">Home</a>
  <a mat-flat-button routerLink="/about">About</a>
  <a mat-flat-button routerLink="/cursinhos">Cursinhos</a>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="over">
    <!-- Links to Pages -->
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Page Content -->
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
