<div class="container-fluid">
  <h2>About Detail</h2>
  <p>This is the detailed information about our company.</p>
  <!--  <img src="assets/images/emancipaLogo2.png" alt="Image Alt Text">-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Column 1</h5>
            <p class="card-text">This is the first column.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Column 2</h5>
            <p class="card-text">This is the second column.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
