// cram-school-card.component.scss
p {
  margin: 16px; // Add spacing around the content
  font-size: 18px;
  line-height: 1.4;
  color: #333; // Customize text color
}

a {
  color: #000000; // Set link color
  text-decoration: none;
  transition: color 0.3s ease; // Add smooth color transition on hover

  &:hover {
    color: #3fb664; // Change link color on hover
  }
}

.mat-display-1{
  font-size: 2.125rem;
  line-height: 2.5rem;
  font-weight: 200;
  letter-spacing: -0.0125em;
}

