html, body, app-root, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
