.card-container {
  display: flex;
  justify-content: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards as needed */
  justify-content: space-between; /* Use space-between to push last row to the right */
}

mat-card {
  width: 250px; /* Adjust card width as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;

  &:hover {
    background-color: #f5f5f5; /* Adjust hover color as needed */
  }

  &.selected-card {
    background-color: #e0e0e0; /* Adjust selected color as needed */
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  app-cram-school-element {
    display: block;
    margin-top: 10px;
  }
}

.selectedSchool {
  //display: none; /* Hide by default */
  margin-top: 10px;
}

/* Show the selected school element when there's a selectedCramSchool */
.selectedSchool[ngIf="selectedCramSchool"] {
  display: block;
}
