<div class="container">
  <h1>{{ title }}</h1>

  <div class="row">
    <div class="col-md-3" *ngFor="let school of cramSchools">
      <div class="card" [ngClass]="{'selected-card': school === selectedCramSchool}">
        <a [routerLink]="'/cursinhos/' + school.cramSchoolSuffix">
          <img src="/assets/images/emancipaLogo2.png" class="card-img-top" alt="{{ school.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ school.name }}</h5>
            <p class="card-text">{{ school.address.state }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
